.opiniones .caja-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.opiniones .caja-contenedor .caja {
  background: whitesmoke;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: .1rem solid gray;
  flex: 1 1 30rem; }

.opiniones .caja-contenedor .caja .user img {
  border-radius: 50%;
  object-fit: cover;
  height: 8rem;
  width: 8rem;
  margin-top: 2rem; }

.opiniones .caja-contenedor .caja .user h3 {
  color: green; }

.opiniones .caja-contenedor .caja .user .stars i {
  color: green; }

footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 220px; }

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.social {
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; }

.social li {
  margin: 0 10px; }

.social a {
  color: black; }

.fa-instagram:hover {
  color: #E1306C; }

.fa-facebook:hover {
  color: #1778F2; }

.fa-youtube:hover {
  color: #FF0000; }

.fa-pinterest:hover {
  color: #E60023; }

.footer-bottom {
  text-align: center; }

.yo {
  list-style: none;
  display: flex;
  justify-content: center; }

.yo a {
  color: black; }

.fa-linkedin-square:hover {
  color: #2867B2; }

.fa-github-square:hover {
  color: #666666; }

.yo li {
  margin: 0 10px; }

dl, ol, ul {
  padding-left: 0px;
  margin-bottom: 0rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif; }

@media (min-width: 200px) {
  main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 4.5rem; } }

@media (min-width: 768px) {
  main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    position: relative; } }

@media (min-width: 992px) {
  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2.5rem; } }

body {
  background: #c7b198;
  min-height: 100vh; }

#titulo {
  text-align: center; }

.news-cards .row .col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: top;
  align-content: top;
  min-width: 220px;
  min-height: 300px; }

.card:hover {
  background-color: rgba(236, 236, 236, 0.541);
  cursor: pointer; }

.img {
  width: 100%;
  height: auto; }

#hero {
  text-align: center; }

#hero-text {
  text-align: justify;
  text-justify: inter-word; }

.container, .container-sm {
  max-width: 100vw; }

.btn-primary-btn, #submitButton {
  background-color: goldenrod; }

.btn-primary-btn, #submitButton:hover {
  background-color: #c58d00; }

.btn-primary {
  background-color: goldenrod; }

.btn-primary:hover {
  background-color: #c58d00; }

.ubication {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center; }
  .ubication p {
    text-align: left; }

.alrededor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center; }

iframe {
  margin: 5px; }

#carouselExampleCaptions, #carouselExampleCaptions1, #carouselExampleCaptions2, #carouselExampleCaptions3 {
  padding-bottom: 2rem; }

#carouselExampleCaptions .carousel-inner h5, #carouselExampleCaptions1 .carousel-inner h5, #carouselExampleCaptions2 .carousel-inner h5, #carouselExampleCaptions3 .carousel-inner h5, #carouselExampleCaptions .carousel-inner p, #carouselExampleCaptions1 .carousel-inner p, #carouselExampleCaptions2 .carousel-inner p, #carouselExampleCaptions3 .carousel-inner p {
  color: white;
  background: #222222;
  background: rgba(0, 0, 0, 0.4);
  padding: 4px 8px; }

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 1rem; }

.cards {
  background: rgba(87, 87, 87, 0.932);
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: goldenrod;
  cursor: pointer; }

.cards-icon {
  font-size: 28px;
  background: black;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear; }

.cards:hover .cards-icon {
  background: none;
  color: goldenrod;
  transform: scale(1.6); }

.cards p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear; }

.cards:hover p {
  max-height: 40px;
  opacity: 1; }

.config, .news-cards, #hero {
  margin-top: 2rem;
  margin-bottom: 2rem; }
